@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eaebec;
  font-family: "Poppins", system-ui;
}

button {
  transition: all .35s;
}

#createForm {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.transition-bar {
  transition: width .4s ease;
  width: 0;
}

.link-container:hover .transition-bar {
  width: 100%;
}

::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}

::-webkit-scrollbar-track {
  background-color: transparent; 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px; 
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:active {
  background-color: #000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}